<div class="main-section">
    <h1 class="main-heading">
        LATEST NEWS from blog
    </h1>
    <div style="width: 90%;" class="d-flex justify-content-around">
        <div class="w-45 d-flex justify-content-center">
            <div class="parent">
                <img src="assets/images/Blog-2.png" height="519px" alt="" srcset="">
                <div class="content d-flex flex-direction-column justify-content-between">
                    <div class="">
                        <div class="heading m-40 mb-0">
                            19 Jan:
                        </div>
                        <div style="font-weight: 400" class="m-40 heading mt-0">
                            Business Post
                        </div>
                        <div class="m-40 text">
                            Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidilabore
                            et
                            dolore
                            magna aliqua. Ut enim ad mini veniam, quis nostrud
                            Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidilabore
                            et
                            dolore
                            magna aliqua. Ut enim ad mini veniam, quis nostrud
                            Lorem ipsum dolor sit ametcon sectetur adipisicing elit...
                        </div>
                    </div>
                    <div class="m-40">
                        <a href="#">By admin</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-45 d-flex flex-direction-column justify-content-between">
            <div class="d-flex">
                <div class="container-img">
                    <img src="assets/images/Blog-2.png" alt="" srcset="">

                </div>
                <div class="d-flex flex-direction-column justify-content-between">
                    <div class="heading">
                        <span>
                            19 Jan:
                        </span>
                        <span style="font-weight: 400">
                            Business Post
                        </span>
                    </div>
                    <div class="sub-text">
                        Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidilabore et
                        dolore magna aliqua. Ut enim...
                    </div>
                    <div>
                        <a href="#">By admin</a>
                    </div>
                </div>
            </div>

            <div class="d-flex">
                <div class="container-img">
                    <img src="assets/images/Blog-3.png" alt="" srcset="">

                </div>
                <div class="d-flex flex-direction-column justify-content-between">
                    <div class="heading">
                        <span>
                            19 Jan:
                        </span>
                        <span style="font-weight: 400">
                            Business Post
                        </span>
                    </div>
                    <div class="sub-text">
                        Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidilabore et
                        dolore magna aliqua. Ut enim...
                    </div>
                    <div>
                        <a href="#">By admin</a>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="container-img">
                    <img src="assets/images/Blog-4.png" alt="" srcset="">

                </div>
                <div class="d-flex flex-direction-column justify-content-between">
                    <div class="heading">
                        <span>
                            19 Jan:
                        </span>
                        <span style="font-weight: 400">
                            Business Post
                        </span>
                    </div>
                    <div class="sub-text">
                        Lorem ipsum dolor sit ametcon sectetur adipisicing elit, sed doiusmod tempor incidilabore et
                        dolore magna aliqua. Ut enim...
                    </div>
                    <div>
                        <a href="#">By admin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>